/* Styling the experience section */
/* Container wraps around all contents of experience, and the grid 
allows for better organization on the web page */
.experience__container {
    display: grid;

    /* 50% on the left and the right, with a gap between elements */
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

/* Gets direct divs inside the container (frontend/backend experience) */
.experience__container > div {
    background: var(--color-bg-variant);

    /* 2.4 for top and bottom, 5 for left and right */
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;

    /* Smooth out the hover transition */
    transition: var(--transition);
}

/* Creates a hover effect for the cards */
.experience__container > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

/* Gets the direct divs and the header 3 within them to style */
.experience__container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-white);
    text-shadow: 2px 2px 10px #000000;
}

.experience__container > div table {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-white);
}

.experience__container > div td {
    width: 150px;
    text-align: center;
    padding: 5px;
    text-shadow: 2px 2px 10px #000000;
}

.experience__container > div th {
    text-align: center;
    text-shadow: 2px 2px 10px #000000;
}

/* === MEDIA QUERIES (MEDIUM DEVICES, like a tablet) === */
@media screen and (max-width: 1024px) {
    .experience__container {
        grid-template-columns: 1fr;
    }

    .experience__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .experience__content {
        padding: 1rem;
    }
}

/* === MEDIA QUERIES (SMALL DEVICES, like a mobile device) === */
/* Changes size and margins of elements to fit the smaller devices */
@media screen and (max-width: 600px) {
    .experience__container {
        gap: 1rem;
    }

    .experience__container > div {
        width: 100%;

        /* 2 for top and bottom, 1 for left and right */
        padding: 2rem 1rem;
    }
}